/* Bismillah

Blush Roze: #FFA5AB
Napels Yellow: #efde93
Verdigris: #28AFB0
Koolstof Zwart: #333333
Donker Zwart: #1C1C1C

 */

@import "fonts.css";

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 40px;
  color: #efde93;
  display: block;
}

.sidenav a:hover {
  color: #FFA5AB;
}

.sidenav a.bottom {
    float: revert;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.flexbox {
    margin: 50px auto;
    align-content: center;
    align-items: center;
}

.divmain {
    background-color: #efde93;
    margin: 50px auto;
    padding: 20px;
    width: 600px;
    height: 600px;
    border-color: #333333;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    box-shadow: 10px 10px 10px 2px black;
    animation-name: divfade;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes divfade {
    0%   {background-color: #ecdfbe;}
    25%  {background-color: #ecdea6;}
    50%  {background-color:#efde93;}
    75%  {background-color: #ecdea6;}
    100%   {background-color: #ecdfbe;}
}


/*

 Blush Roze: #FFA5AB
Napels Yellow: #efde93
Verdigris: #28AFB0
Koolstof Zwart: #333333
Donker Zwart: #1C1C1C

 Elhamdulillah */