/* Bismillah

Blush Roze: #FFA5AB
Napels Yellow: #efde93
Verdigris: #28AFB0
Koolstof Zwart: #333333
Donker Zwart: #1C1C1C
*/

body {
    font-family: "Poppins", sans-serif;
    background-color: #FFA5AB;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1000px;
    margin-left: 160px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 40px;
  color: #FFA5AB;
  display: block;
}

a:link {
  color: #FFA5AB;
}

a:hover {
  color: #efde93;
}

a.one:link {
    color: #FFA5AB;
}

a.one:hover {
    color: #efde93;
}

a.one:visited {
    color: #efde93;
}

/* .sidenav a:hover {
  color: #FFA5AB;
} */

@media screen and (max-width: 768px) {
  .sidenav {
      visibility: hidden;
  }
  .divportfolio {
      margin-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  .sidenav {
    visibility: visible;
  }
  .divportfolio {
      margin-left: 250px;
  }
}

/* Blush Roze: #FFA5AB
Napels Yellow: #efde93
Verdigris: #28AFB0
Koolstof Zwart: #333333
Donker Zwart: #1C1C1C

Elhamdulillah */