<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mick Stout</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <button onclick="showContent('home')">Home</button>
        <button onclick="showContent('about')">Over</button>
        <button onclick="showContent('contact')">Contact</button>
    </nav>
    <div class="flexbox">
        <div class="divmain">
            <main id="content">
                <!-- Inhoud wordt hier weergegeven -->
            </main>
        </div>
    </div>
    <script src="/js/function.js"></script>
</body>
</html>