<!-- Bishmillah -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mick Stout</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="sidenav">
    <a href="https://www.linkedin.com/in/mick-stout/" target="_blank">LinkedIn</a>
    <a href="https://github.com/MickStoutRepo" target="_blank">GitHub</a>
    <a href="mailto:mick@mickstout.nl" target="_blank">Contact</a>
    <a href="#">Chat</a>
</div>
<div class="divportfolio">
     <h2>Mick Stout: Development Portefolio</h2><br>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('Python')"> Python</button>
  <button class="btn" onclick="filterSelection('C#')"> C# / .NET</button>
  <button class="btn" onclick="filterSelection('LowCode')"> Low-Code</button>
</div>

<!-- Portfolio -->
<div class="row">
  <div class="column Python">
    <div class="contentportfolio">
      <img src="/images/python.png" alt="python" style="width:100%">
      <h4>Python project</h4>
      <p>Placeholder voor Python projecten. <br> <a href="https://github.com/MickStoutRepo" target="_blank" class="one">GitHub project</a></p>
    </div>
  </div>
  <div class="column C#">
    <div class="contentportfolio">
      <img src="/images/C.jpg" alt="C#" style="width:100%">
      <h4>C# / .NET project</h4>
      <p>Placeholder voor C# / .NET projecten. <br><a href="https://github.com/MickStoutRepo" target="_blank" class="one">GitHub project</a></p>
    </div>
  </div>
    <div class="column LowCode">
    <div class="contentportfolio">
      <img src="/images/lowcode.jpg" alt="LowCode" style="width:100%">
      <h4>Low-Code project</h4>
      <p>Placeholder voor Low-Code projecten. <br><a href="https://github.com/MickStoutRepo" target="_blank" class="one">GitHub project</a></p>
    </div>
  </div>
</div>
</div>
    <script src="/js/portfolio.js"></script>
</body>
</html>
<!-- Elhamdulillah -->